/* ---------- fonts link css part start ---------- */
@font-face {
    font-family: netflixSans-regula;
    src: url(../fonts/NetflixSans-Regular.otf);
}

@font-face {
    font-family: netflixSans-medium;
    src: url(../fonts/NetflixSans-Medium.otf);
}

@font-face {
    font-family: netflixSans-bold;
    src: url(../fonts/NetflixSans-Bold.otf);
}

@font-face {
    font-family: netflixSans-black;
    src: url(../fonts/NetflixSans_Blk.ttf);
}

:root {
    --regula_font: netflixSans-regula;
    --medium_font: netflixSans-medium;
    --bold_font: netflixSans-bold;
    --black_font: netflixSans-black;
    --brand_color: #e40e16
}

/* ---------- fonts link css part end ---------- */
/* ---------- common css part start ---------- */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

/* ---------- fonts link css part end ---------- */
/* ---------- nav bar css part start ---------- */
.top_bar {
    width: 100%;
    position: absolute;
    z-index: 999;
}

.navbar-brand img {
    width: 156px;
}

.nav_button button {
    border: none;
    background: var(--brand_color);
    width: 83px;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--regula_font);
    color: #fff;
    transition: all linear .3s;
}

.nav_button button:hover {
    background: #C11119;
}

/* ---------- nav bar css part end ---------- */
/* ---------- banner css part start ---------- */
#banner {
    background: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 424px 0 190px 0;
    position: relative;
    z-index: 1;
}

#banner::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #262424 0%, rgba(27, 25, 25, 0.99) 0%, rgba(18, 16, 16, 0.00) 100%, rgba(18, 16, 16, 0.671) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner_head h1 {
    font-size: 48px;
    font-family: var(--black_font);
    color: #fff;
    text-align: center;
}

.banner_head h2 {
    font-size: 24px;
    font-family: var(--regula_font);
    color: #fff;
    text-align: center;
    margin: 37px 0;
}

.banner_head h3 {
    font-size: 20px;
    font-family: var(--regula_font);
    color: #fff;
    text-align: center;
}

.get_started_input {
    width: 972px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 0 auto;
    margin-top: 37px;
}

.get_started_input input {
    width: 380px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: rgba(39, 37, 37, 0.70);
    font-size: 14px;
    font-family: var(--regula_font);
    color: #fff;
    padding: 5px 10px;
}

.get_started_input input::placeholder {
    font-size: 14px;
    font-family: var(--regula_font);
    color: #fff;
}

.get_started_input input:focus {
    border: 3px solid #fff;
}

.get_started_input button {
    width: 215px;
    height: 60px;
    border-radius: 5px;
    background: var(--brand_color);
    border: none;
    font-size: 24px;
    font-family: var(--medium_font);
    color: #fff;
    transition: all linear .3s;
}

.get_started_input button:hover {
    background: #C11119;
}

/* ---------- banner css part end ---------- */
/* ---------- enjoy css part start ---------- */
#enjoy {
    padding: 128px 0 100px 0;
    border-top: 9px solid #232323;
    border-bottom: 9px solid #232323;
}

.enjoy_texts {
    margin-top: 143px;
}

.enjoy_texts h2 {
    font-size: 48px;
    font-family: var(--black_font);
    color: #fff;
    margin-bottom: 27px;
}

.enjoy_texts p {
    font-size: 24px;
    font-family: var(--regula_font);
    color: #fff;
}

.enjoy_image {
    width: 100%;
    position: relative;

}

.enjoy_image video {
    overflow: hidden;
    position: absolute;
    top: 96px;
    left: 75px;
    z-index: -1;
}

/* ---------- enjoy css part end ---------- */
/* ---------- download css part start ---------- */
#download{
    padding: 77px 0 51px 0;
    border-bottom: 9px solid #232323;
}
.download_texts{
    margin-top: 120px;
}
.download_texts h2{
    font-size: 48px;
    font-family: var(--black_font);
    color: #fff; 
    margin-bottom: 27px;
}
.download_texts p {
    font-size: 24px;
    font-family: var(--regula_font);
    color: #fff;
}
/* ---------- download css part end ---------- */
/* ---------- anywhere css part start ---------- */
#anywhere{
    padding: 77px 0 51px 0;
    border-bottom: 9px solid #232323;
}
.anywhere_texts h2{
    font-size: 48px;
    font-family: var(--black_font);
    color: #fff; 
    margin-top: 123px;
}
.anywhere_texts p {
    font-size: 24px;
    font-family: var(--regula_font);
    color: #fff;
}
.anywhere_image{
    width: 540px;
    overflow: hidden;
}
/* ---------- anywhere css part end ---------- */
/* ---------- kids css part start ---------- */
#kids{
    padding: 77px 0 51px 0;
    border-bottom: 9px solid #232323;
}
.kids_texts h2{
    font-size: 48px;
    font-family: var(--black_font);
    color: #fff; 
    margin-top: 123px;
}
.kids_texts p {
    font-size: 24px;
    font-family: var(--regula_font);
    color: #fff;
}
.kids_image{
    width: 540px;
    overflow: hidden;
}
/* ---------- kids css part end ---------- */
/* ---------- questions css part start ---------- */
#questions{
    padding: 77px 0 51px 0;
    border-bottom: 9px solid #232323;
}
.questions_head h2{
    font-size: 48px;
    font-family: var(--black_font);
    color: #fff; 
    text-align: center;
}
.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}
.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
    margin-bottom: 10px;
}
.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: #3c3a3a;
    --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
    /* --bs-accordion-border-color: var(--bs-border-color); */
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-border-color: #86b7fe;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: #414141;
}

.accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
    margin: 20px 0;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button {
    padding: 20px;
    font-size: 24px;
    color: #fff;
    text-align: left;
}
.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: var(--bs-accordion-active-bg);
    box-shadow: none;
    border-bottom: 2px solid #000;
}
.accordion-flush .accordion-item {
    border: none;
}
/* ---------- questions css part end ---------- */
/* ---------- download css part start ---------- */



/* ---------- download css part end ---------- */
/* ---------- download css part start ---------- */



/* ---------- download css part end ---------- */